# Docker
.env

# Node
node_modules/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv_name/

# Makefile
make.log

# file to big for github
MySQL_Advanced/names.sql
MySQL_Advanced/metal_bands.sql
